<!--
   该项目仅供学习
   如有疑问或建议请致邮箱：645614025@qq.com
  Created by 王雁欣
  Date: 2017/9/29
  Time: 1:28
-->
<div id="handleApp" v-show="isShow">
    <h6>

    </h6>
    <div class="row">
        <div class="col-md-3">
            <div class="portlet light portlet-fit bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-tree font-blue-sharp"></i>
                        <span class="caption-subject font-blue-sharp bold uppercase">操作树</span>
                    </div>
                    <div class="actions">
                        <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;" title="刷新列表" @click="refresh">
                            <i class="fa fa-refresh font-yellow-lemon"></i>
                        </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <div id="handleTree" class="tree-demo">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9" v-show="isDataTableView">
            <!-- BEGIN GENERAL PORTLET-->
            <div class="portlet light portlet-fit bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-birthday-cake font-blue-sharp"></i>
                        <span class="caption-subject font-blue-sharp bold uppercase">操作列表</span>
                    </div>
                    <div class="actions">
                        <button class="btn btn-circle btn-icon-only btn-default btn-red" href="javascript:;" title="新增操作" @click="add">
                            <i class="fa fa-plus font-blue-sharp"></i>
                        </button>
                        <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;" title="删除操作" @click="del">
                            <i class="fa fa-remove font-red-mint"></i>
                        </a>
                        <button class="btn btn-circle btn-icon-only btn-default" href="javascript:;" title="编辑操作" @click="edit">
                            <i class="fa fa-pencil-square-o font-blue-sharp"></i>
                        </button>
                        <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;" title="刷新列表" @click="reload">
                            <i class="fa fa-refresh font-yellow-lemon"></i>
                        </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <table class="table table-striped table-bordered table-hover" id="menuTable">
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-9" v-show="!isDataTableView">
            <!-- BEGIN GENERAL PORTLET-->
            <div class="portlet light portlet-fit bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-birthday-cake font-blue-sharp"></i>
                        <span class="caption-subject font-blue-sharp bold uppercase">操作详情</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="row static-info">
                        <div class="col-md-3 name"> 操作编码</div>
                        <div class="col-md-8 value">{{modelInfo.handleCode}}</div>
                    </div>
                    <div class="row static-info">
                        <div class="col-md-3 name"> 操作名称</div>
                        <div class="col-md-8 value">{{modelInfo.name}}</div>
                    </div>
                    <div class="row static-info">
                        <div class="col-md-3 name"> 访问路径</div>
                        <div class="col-md-8 value">{{modelInfo.url}}</div>
                    </div>
                    <div class="row static-info">
                        <div class="col-md-3 name"> 方法类型</div>
                        <div class="col-md-8 value">{{modelInfo.type}}</div>
                    </div>
                    <div class="row static-info">
                        <div class="col-md-3 name"> 是否启用</div>
                        <div class="col-md-8 value">{{modelInfo.isAvailableName}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--js文件-->
    <input type="hidden" id="pageSrcipt" value="../handle/js/sys_handle.js">

    <!--新增，编辑菜单模态窗口start-->
    <div class="portlet-body">
        <div class="modal fade bs-modal-lg" id="editModal" role="dialog" aria-hidden="true">
            {{menuModal.title}}
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title">{{menuModal.title}}</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" role="form" id="modelFrom"  method="post" >
                            <input type="hidden" id="id" name="id" value="" v-model="modelFrom.id">
                            <div class="form-body">
                                <div class="form-group">
                                    <label class="col-md-2 control-label">菜单编码</label>
                                    <div class="col-md-4">
                                        <div class="input-inline">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-plug font-blue-sharp"></i>
                                                </span>
                                                <input type="text" id="handleCode" name="handleCode" class="form-control" placeholder="请输入操作编码..." v-model="modelFrom.handleCode">
                                            </div>
                                        </div>
                                    </div>
                                    <label class="col-md-2 control-label">操作名称</label>
                                    <div class="col-md-4">
                                        <div class="input-inline">
                                            <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="fa fa-bookmark-o font-blue-sharp"></i>
                                            </span>
                                                <input type="tel" id="name" name="name" class="form-control" placeholder="请输入操作名称..." v-model="modelFrom.name">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">访问路径</label>
                                    <div class="col-md-4">
                                        <div class="input-inline">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-user font-blue-sharp"></i>
                                                </span>
                                                <input type="text" id="url" name="url" class="form-control" placeholder="请输入访问路径..." v-model="modelFrom.url">
                                            </div>
                                        </div>
                                    </div>
                                    <label class="col-md-2 control-label" >方法类型</label>
                                    <div class="col-md-4">
                                        <div class="input-inline">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-user font-blue-sharp"></i>
                                                </span>
                                                <input type="text" id="type" name="type" class="form-control" placeholder="请输入方法类型..." v-model="modelFrom.type">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label" >是否启用</label>
                                    <div class="col-md-4">
                                        <div class="md-radio-inline">
                                            <div class="md-radio">
                                                <input type="radio" id="type1" name="isAvailable" value="1" class="md-radiobtn" v-model="modelFrom.isAvailable" >
                                                <label for="type1">
                                                    <span></span>
                                                    <span class="check"></span>
                                                    <span class="box"></span>启用</label>
                                            </div>
                                            <div class="md-radio">
                                                <input type="radio" id="type2" name="isAvailable" value="2" class="md-radiobtn" v-model="modelFrom.isAvailable">
                                                <label for="type2">
                                                    <span></span>
                                                    <span class="check"></span>
                                                    <span class="box"></span> 停用</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn dark btn-outline" data-dismiss="modal">取消</button>
                                <button type="button" class="btn green demo-loading-btn" data-loading-text="保存..." id="formSave" @click="save">保存</button>
                            </div>
                        </form>
                    </div>

                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
    </div>
</div>