<!--
   该项目仅供学习
   如有疑问或建议请致邮箱：645614025@qq.com
  Created by 王雁欣
  Date: 2017/10/17
  Time: 21:09
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>biggirlos | 基础框架</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />

    <!-- BEGIN PAGE FIRST SCRIPTS -->
    <link rel="stylesheet" href="../../../assets/global/plugins/pace/themes/pace-theme-minimal.css">
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="../../../assets/google-fonts/google-fonts.css" rel="stylesheet" type="text/css" />
    <link href="../../../assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="../../../assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="../../../assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="../../../assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css" />
    <link href="../../../assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- TOASTR -->
    <link href="../../../assets/global/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" type="text/css" />

    <!-- BEGIN THEME GLOBAL STYLES -->
    <link href="../../../assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />
    <!-- END THEME GLOBAL STYLES -->

    <link href="css/login.css" rel="stylesheet">
    <link href="css/loginPosition.css" rel="stylesheet">
    <link href="css/loginStyle.css" rel="stylesheet">
</head>
<body>
    <div id="userApp" class="login-position-app">
        <!---->
        <div class="login-logo">
            <div class="login-logo-img">
                <img src="image/logo.png">
            </div>
            <div class="login-logo-text">
                biggirlos
            </div>
            <div class="login-big-logo">
                <img src="image/bg-1.jpg">
            </div>
            <div class="login-from">
                <div class="login-from-title">biggirlos | 后台管理</div>
                <div class="splace-1"></div>
                <form id="userForm">
                    <div class="login-from-input">
                        <span class="login-input-name">用户名</span>
                        <input id="userCode" name="userCode" v-model="userForm.userCode"  placeholder="请输入用户编码">
                    </div>
                    <div class="login-from-input">
                        <span class="login-input-name">密码</span>
                        <input class="" type="password" id="password" name="password" v-model="userForm.password"  placeholder="请输入用户密码">
                    </div>
                    <div class="login-from-btn">
                        <button type="button" class="btn btn-info dropdown-toggle" @click="login" >提交</button>
                        <button type="button" @click="reset" class="btn btn-reset">重置</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="login-footer">
            <div class="login-footer-msg">
                <div class="footer-msg-title" >联系老王</div>
                <span>QQ:645614025</span>
                <br>
                <span>WX:w645614025</span>
            </div>
            <div class="login-footer-msg">
                <div class="footer-msg-title">备案号</div>
                <span>目前这些我还不知道写什么目前这些我还不知道写</span>
            </div>
            <div class="login-footer-msg">
                <div class="footer-msg-title">版权信息</div>
                <span>目前这些我还不知道写什么目前这些我还不知道写什么</span>
                <br>
                <span>目前这些我还不知道写什么目前这些我还不知道写什么</span>
            </div>
        </div>
    </div>
    <script src="../../../assets/global/plugins/jquery.min.js"></script>
    <!-- jquery 表单插件 -->
    <script src="../../../assets/global/plugins/jquery.form.min.js" type="text/javascript" ></script>
    <!-- 表单校验插件 -->
    <script src="../../../assets/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
    <script src="../../../assets/global/plugins/jquery-validation/js/localization/messages_zh.min.js" type="text/javascript"></script>
    <script src="../../../assets/global/plugins/jquery-validation/js/jquery.validata.config.js" type="text/javascript"></script>
    <!-- END THEME LAYOUT SCRIPTS -->
    <!-- TOASTR -->
    <script src="../../../assets/global/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript" ></script>
    <script src="../../../assets/pages/scripts/ui-toastr.min.js" type="text/javascript" ></script>
    <script src="../../../common/common.js"></script>
    <!--vue.js-->
    <script src="../../../assets/global/plugins/vue/vue.js"></script>
    <script src="js/login.js"></script>
</body>
</html>